<a href="https://colab.research.google.com/github/jyothi870/tejaswini5g5/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(10))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
sum=a+b+c
print(sum)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
name=("tejaswini")
print(type(name))

<class 'str'>

In [ ]:
x=7.5
print(type(x))

<class 'float'>

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print("addition:",a+b)
print("subtraction:",a-b)
print(" multiplication:",a%b)
print(" division:",a/b)

Enter a number:57
Enter a number:65
addition: 122
subtraction: -8
 multiplication: 57
 division: 0.8769230769230769

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a=123
print(float(a))

123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
# Get user input
user_string = input("Enter a string: ")

# Check if the string is not empty
if user_string:
    # Print the first character
    print("The first character of the string is:", user_string[0])
else:
    print("You entered an empty string!")

Enter a string: tejaswini
The first character of the string is: t

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
# Get user input
user_string = input("Enter a string: ")

# Calculate and print the length of the string
string_length = len(user_string)
print("The length of the string is:", string_length)

Enter a string: tejaswini
The length of the string is: 9

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
# Get user input
user_string = input("Enter a string: ")

# Check if the string contains only alphabets
if user_string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains characters other than alphabets.")

Enter a string: tejaswini
The string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
# Get user input for the two strings
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

# Concatenate the strings
concatenated_string = string1 + string2

# Print the result
print("The concatenated string is:", concatenated_string)

Enter the first string: tejaswini
Enter the second string: unikela
The concatenated string is: tejaswiniunikela

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
# Get user input for the string
user_string = input("Enter a string: ")

# Find the index of the substring "abc"
index = user_string.find("abc")

# Check if the substring is found
if index != -1:
    print(f"The substring 'abc' is found at index {index}.")
else:
    print("The substring 'abc' is not found in the string.")

Enter a string: abcxyz123
The substring 'abc' is found at index 0.

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
# Get user input for the string
user_string = input("Enter a string: ")

# Convert the string to uppercase and lowercase
uppercase_string = user_string.upper()
lowercase_string = user_string.lower()

# Print the results
print("The string in uppercase is:", uppercase_string)
print("The string in lowercase is:", lowercase_string)

Enter a string: unikela
The string in uppercase is: UNIKELA
The string in lowercase is: unikela

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
# Get user input for the string and the character
user_string = input("Enter a string: ")
character = input("Enter a character to count: ")

# Validate if a single character is entered
if len(character) != 1:
    print("Please enter only one character.")
else:
    # Count occurrences of the character
    count = user_string.count(character)
    print(f"The character '{character}' appears {count} times in the string.")

Enter a string: tejaswininagasrijyothi
Enter a character to count: i
The character 'i' appears 4 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
# Get the user's name
user_name = input("Enter your name: ")

# Print a personalized greeting
print(f"Hello, {user_name}, Good Morning!")

Enter your name: tejaswini
Hello, tejaswini, Good Morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
# Get user input for two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Calculate the sum
total = num1 + num2

# Print the result
print(f"The sum of {num1} and {num2} is: {total}")

Enter the first number: 5
Enter the second number: 7
The sum of 5.0 and 7.0 is: 12.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
# Get user input for name and age
name = input("Enter your name: ")
age = input("Enter your age: ")

# Format and display the string
print(f"Hello, {name}! You are {age} years old.")

Enter your name: tejaswini
Enter your age: 19
Hello, tejaswini! You are 19 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 7
Positive number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
# Python program to find the largest
# number among the three numbers

def maximum(a, b, c):

    if (a >= b) and (a >= c):
        largest = a

    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c

    return largest


# Driven code
a = 10
b = 14
c = 12
print(maximum(a,b,c))

14

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year:"))
import calendar
if calendar.isleap(year):
  print("{year} is a leap year.")
else :
  print(" {year} is not a leap year.")

Enter a year:2025
 {year} is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%3==0) and (i%5==0)):
    print(i)

Enter lower range limit:0
Enter upper range limit:100
0
15
30
45
60
75
90

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
# Get user input for the string
user_string = input("Enter a string: ")

# Remove spaces and convert to lowercase for a case-insensitive check
cleaned_string = user_string.replace(" ", "").lower()

# Check if the string is equal to its reverse
if cleaned_string == cleaned_string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: wow
The string is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
# Use a for loop to print numbers from 1 to 10
for num in range(0, 50):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
# Initialize the starting number
number = 1

# Use a while loop to iterate through numbers from 1 to 20
while number <= 20:
    # Check if the number is even
    if number % 2 == 0:
        print(number)
    # Increment the number
    number += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
# Get user input for the number
number = int(input("Enter a number to print its multiplication table: "))

# Print the multiplication table
print(f"Multiplication table of {number}:")
for i in range(1, 21):
    print(f"{number} x {i} = {number * i}")

Enter a number to print its multiplication table: 55
Multiplication table of 55:
55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550
55 x 11 = 605
55 x 12 = 660
55 x 13 = 715
55 x 14 = 770
55 x 15 = 825
55 x 16 = 880
55 x 17 = 935
55 x 18 = 990
55 x 19 = 1045
55 x 20 = 1100

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
# Get user input for the value of n
n = int(input("Enter a number n: "))

# Initialize sum variable
sum_numbers = 0
i = 1

# Use a while loop to calculate the sum
while i <= n:
    sum_numbers += i
    i += 1

# Print the result
print(f"The sum of all numbers from 1 to {n} is: {sum_numbers}")

Enter a number n: 7
The sum of all numbers from 1 to 7 is: 28

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a positive integer: "))
if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    factorial = 1
    i = 1
    while i <= num:
        factorial *= i
        i += 1
    print(f"The factorial of {num} is {factorial}.")

Enter a positive integer: -7
Factorial is not defined for negative numbers.

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
if n <= 0:
    print("Please enter a positive integer.")
else:
     a,b = 0,1
     count = 0
     print(f"Fibonacci sequence up to {n} terms:")
while count < n:
  print(a,end="")
  nth = a + b
  a = b
  b = nth
  count += 1

Enter the number of terms: 7
Fibonacci sequence up to 7 terms:
0112358

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def find_primes_in_range(start, end):
    primes = []
    for num in range(start, end + 1):
        if is_prime(num):
            primes.append(num)
    return primes

primes = find_primes_in_range(1, 100)
print("Prime numbers from 1 to 100:")
print(primes)

Prime numbers from 1 to 100:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
import random
numbers = [random.randint(1, 200) for _ in range(20)]
print("Generated numbers:", numbers)
for number in numbers:
    if number > 50:
        print(f"Number greater than 50 found: {number}")
        break
else:
    print("No number greater than 50 found.")

Generated numbers: [77, 177, 109, 30, 27, 154, 95, 178, 179, 99, 69, 10, 102, 101, 176, 161, 57, 88, 159, 37]
Number greater than 50 found: 77

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for number in range(lower, upper):
    if number % 2 == 0:
        continue
    print(number)

Enter lower range limit:1
Enter upper range limit:20
1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
string = input("Enter a character to count its occurrences: ")
count = 0
for char in string:
    if char == character:
        count += 1

Enter a string: 9
Enter a character to count its occurrences: 10

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10

Enter a number: 765

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_of_elements = sum(numbers)
print("Sum of elements:", sum_of_elements)
print(numbers)

Sum of elements: 55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Write a Python program to find the largest element in a list.
numbers = [1, 6, 29, 25, 39, 97, 25, 19, 45, 5, 7, 10]
largest_element = max(numbers)
print("Largest element:", largest_element)

Largest element: 97

In [ ]:
# Write a Python program to reverse a list.
numbers = [9, 5, 4, 7, 3]
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Reversed list: [3, 7, 4, 5, 9]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [3, 9, 5, 6, 8, 5, 7, 1, 5, 4]
print("original list:",numbers)
element_to_remove = 5
numbers = [num for num in numbers if num != element_to_remove]
print("list after removing all occurrence of",element_to_remove),":",numbers

original list: [3, 9, 5, 6, 8, 5, 7, 1, 5, 4]
list after removing all occurrence of 5

(None, ':', [3, 9, 6, 8, 7, 1, 4])

In [ ]:
# Write a Python program to find the index of an element in a list.
numbers = [90, 70, 50, 30, 20, 40]
element_to_find = 70
index = numbers.index(element_to_find)
print("Index of",element_to_find,":",index)
print(numbers)

Index of 70 : 1
[90, 70, 50, 30, 20, 40]

In [ ]:
# Write a Python program to find if a specific element exists in a list.
numbers = [10, 50, 45, 70, 30, 25, 65]
element_to_find = 56
if element_to_find in numbers:
    print(f"The element {element_to_find} exists in the list.")
else:
  print(f"The element {element_to_find} does not exists in the list")

The element 56 does not exists in the list

In [ ]:
# Write a Python program to remove duplicates from a list.
numbers = [9, 6, 4, 7, 5, 6, 3, 4, 2, 8]
unique_numbers = list(set(numbers))
print("Original list:", numbers)
print("List after removing duplicates:", unique_numbers)

Original list: [9, 6, 4, 7, 5, 6, 3, 4, 2, 8]
List after removing duplicates: [2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [0, 5, 6, 8, 7, 9, 5, 2, 3, 5]
element_to_count = 5
count = numbers.count(element_to_count)
print("Original list:", numbers)
print("Number of occurrences of",element_to_count,":",count)

Original list: [0, 5, 6, 8, 7, 9, 5, 2, 3, 5]
Number of occurrences of 5 : 3

In [ ]:
# Write a Python program to get the number of even numbers in a list.
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
even_count = sum(1 for num in numbers if num % 2 == 0)
print("Original list:", numbers)
print("Number of even numbers:", even_count)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
Number of even numbers: 15

In [ ]:
# Write a Python program to create a tuple and print it.
tuple = (9 , 7, 5, 3, 1,)
print("My tuple:", tuple)

My tuple: (9, 7, 5, 3, 1)

In [9]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (99, 88, 77, 66)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("Converted to list:", my_list)

my_list = [11, 22, 33, 44,]
my_tuple = tuple(my_list)
print("\nList:", my_list)
print("Converted to tuple:")
print(" my_tuple")

Tuple: (99, 88, 77, 66)
Converted to list: [99, 88, 77, 66]

List: [11, 22, 33, 44]
Converted to tuple:
 my_tuple

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
numbers = (56, 75, 36, 65, 89, 95, 57, 23, 41, 15)
max_value = max(numbers)
min_value = min(numbers)
print("Tuple:", numbers)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Tuple: (56, 75, 36, 65, 89, 95, 57, 23, 41, 15)
Maximum value: 95
Minimum value: 15

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (700, 500, 600)
a, b, c = my_tuple
print("value of a:", a)
print("value of b:", b)
print("value of c:", c)

value of a: 700
value of b: 500
value of c: 600

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {9, 8, 7, 6, 5, 4, 3, 2, 1}
my_set.add(8)
print("set after adding an element:", my_set)
element_to_check = 10
if element_to_check in my_set:
   print(f"{element_to_check} exists in the set.")
else:
  print(f"{element_to_check} does not exists in the set.")

set after adding an element: {1, 2, 3, 4, 5, 6, 7, 8, 9}
10 does not exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "Name": "Jyothi",
    "Age": 19,
    "City": "India",
    "Profession": "Engineer"
}
print("Dictionary:", my_dict)

Dictionary: {'Name': 'Jyothi', 'Age': 19, 'City': 'India', 'Profession': 'Engineer'}

In [ ]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "Name": "jessy",
    "Age": 19,
    "Profession": "Singer"
}
key_to_access = "City"
value = my_dict.get(key_to_access)
if value:
    print(f"The value for the key '{key_to_access}' is: {value}")
else:
    print(f"The key '{key_to_access}' does not exist in the dictionary.")

The key 'City' does not exist in the dictionary.

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {
    "Name": "Pranavi",
    "Age": 19,
    "City": "US",
    "Profession": "B-Tech"
}
key_to_check = "Age"
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'Age' exists in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {"Name": "Meghana", "Age": 25}
dict2 = {"City": "Mumbai", "Profession": "Engineer"}
merged_dict = dict1.copy()
merged_dict.update(dict2)
print("Merged Dictionary:", merged_dict)
merged_dict_alt = {**dict1, **dict2}

Merged Dictionary: {'Name': 'Meghana', 'Age': 25, 'City': 'Mumbai', 'Profession': 'Engineer'}

In [ ]:
# Write a Python program to remove a key from a dictionary.
my_dict = {
    "Name": "Sirisha",
    "Age": 24,
    "City": "kerala",
    "Profession": "Engineer"
}
key_to_remove = "City"
if key_to_remove in my_dict:
    removed_value = my_dict.pop(key_to_remove)
    print(f"Key '{key_to_remove}' with value '{removed_value}' was removed.")
else:
    print(f"Key '{key_to_remove}' does not exist.")
print("Updated Dictionary:", my_dict)

Key 'City' with value 'kerala' was removed.
Updated Dictionary: {'Name': 'Sirisha', 'Age': 24, 'Profession': 'Engineer'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {
    "Name": "Bhavani",
    "Age": 20,
    "Profession": "Engineer"
}
num_keys = len(my_dict)
print(f"The number of keys in the dictionary is: {num_keys}")

The number of keys in the dictionary is: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {
    "a": 19,
    "b": 28,
    "c": 37,
    "d": 46,
    "e": 55
}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("Dictionary:", my_dict)
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Dictionary: {'a': 19, 'b': 28, 'c': 37, 'd': 46, 'e': 55}
Largest value: 55
Smallest value: 19

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [1]:
# Write a Python function that returns the square of a number.
def square(num):
    return num ** 2
number = 55
result = square(number)
print(f"The square of {number} is: {result}")

The square of 55 is: 3025

In [2]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(a, b):
    return a + b
num1 = 15
num2 = 71
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is: {result}")

The sum of 15 and 71 is: 86

In [3]:
# Write a Python function to check if a given number is prime.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
number = 57
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

57 is not a prime number.

In [4]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
number = 56
result = factorial(number)
print(f"The factorial of {number} is: {result}")

The factorial of 56 is: 710998587804863451854045647463724949736497978881168458687447040000000000000

In [5]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    elif exponent < 0:
        return 1 / power(base, -exponent)
    else:
        return base * power(base, exponent - 1)
base = 7
exponent = 5
result = power(base, exponent)
print(f"{base} to the power of {exponent} is: {result}")

7 to the power of 5 is: 16807

In [6]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def custom_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count
my_list = [0, 9, 8, 7, 6, 5, 4, 3, 2, 1]
result = custom_length(my_list)
print(f"The length of the list is: {result}")

The length of the list is: 10

In [7]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional(*args, **kwargs):
    total = sum(args)
    print(f"The sum of the positional arguments is: {total}")
sum_positional(9, 8, 7, 6, 5, name="swetha", age=19)

The sum of the positional arguments is: 35

In [12]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_maximum(**kwargs):
    num1 = kwargs.get('num1')
    num2 = kwargs.get('num2')
    if num1 is None or num2 is None:
        return "Please provide both 'num1' and 'num2' as keyword arguments."
    return max(num1, num2)
result = find_maximum(num1=int(input("enter a number:")), num2=int(input("enter a number:")))
print(f"The maximum of the two numbers is: {result}")

enter a number:15
enter a number:17
The maximum of the two numbers is: 17

In [13]:
# Write a Python function that accepts a list of numbers and returns their product.
def calculate_product(numbers):
    product = 1
    for num in numbers:
        product *= num
    return
    product
numbers_list = [11, 12, 13, 14, 15, 16, 17, 18, 19]
result = calculate_product(numbers_list)
print(f"The product of the numbers is: {result}")

The product of the numbers is: None

In [19]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
  if number % 2 == 0:
        return f"{number} is even."
  else:
        return f"{number} is odd."

result = check_even_odd(int(input("Enter a number:")))
print(result)

result = check_even_odd(int(input("Enter a number:")))
print(result)

Enter a number:12
12 is even.
Enter a number:17
17 is odd.

In [22]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
a = int(input("enter a number:"))
b = int(input("enter a number:"))
squares = [x ** 2 for x in range(a, b)]
print(squares)

enter a number:0
enter a number:50
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [25]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
lower = int(input("Enter lower range:"))
upper = int(input("Enter upper range:"))
numbers = list(range(lower, upper))
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

Enter lower range:15
Enter upper range:75
[16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74]

In [30]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["devops", "computer networks", "skill development", "daa", "da", "ipr"]
long_words = [word for word in words if len(word) >= 6]
print(long_words)

['devops', 'computer networks', 'skill development']

In [35]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
def get_uppercase_letters(input_string):
    uppercase_letters = [char for char in input_string if char.isupper()]
    return uppercase_letters

input_string = (input("enter a string:"))
result = get_uppercase_letters(input_string)
print("Uppercase letters in the string:", result)

enter a string:Tejaswni Naga Sri Jyothi
Uppercase letters in the string: ['T', 'N', 'S', 'J']

In [36]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci_numbers(n):
    fib = [0, 1]
    [fib.append(fib[-1] + fib[-2]) for _ in range(2, n)]
    return fib[:n]
n = int(input("enter a number:"))
result = fibonacci_numbers(n)
print(f"The first {n} Fibonacci numbers are: {result}")

enter a number:30
The first 30 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]

In [38]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
def create_square_dict(n):
    square_dict = {x: x**2 for x in range(1, n+1)}
    return square_dict
n = int(input("enter a number:"))
result = create_square_dict(n)
print(f"Dictionary of numbers and their squares up to {n}: {result}")

enter a number:7
Dictionary of numbers and their squares up to 7: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [42]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ["s", "t", "u", "v", "w"]
values = ["9", "8", "7", "6", "5"]
result = {key: value for key, value in zip(keys, values)}
print(result)

{'s': '9', 't': '8', 'u': '7', 'v': '6', 'w': '5'}

In [48]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
def create_cube_dict():
    cube_dict = {x: x**3 for x in range(0,25)}
    return cube_dict
result = create_cube_dict()
print(f"Dictionary of numbers and their cubes: {result}")

Dictionary of numbers and their cubes: {0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000, 21: 9261, 22: 10648, 23: 12167, 24: 13824}

In [49]:
# Write a Python program to square each element of a list using the map() function.
def square_elements(input_list):
    return list(map(lambda x: x**2, input_list))
input_list = [9, 8, 7, 6, 5]
result = square_elements(input_list)
print(f"Squared elements of the list: {result}")

Squared elements of the list: [81, 64, 49, 36, 25]

In [1]:
# Write a Python program to filter all even numbers from a list using the filter() function.
def filter_even_numbers(input_list):
    return list(filter(lambda x: x % 2 == 0, input_list))

input_list = [5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
result = filter_even_numbers(input_list)
print(f"Even numbers from the list: {result}")

Even numbers from the list: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [13]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
def check_divisibility(num):
    return (lambda x: x % 3 == 0 and x % 5 == 0)(num)
num1 = int(input("Enter num1:"))
result = check_divisibility(num1)
if result:
  print(f"{num1} is divisible by both 3 and 5: {result}")
else:
    print(f"{num1} is not divisible by both 3 and 5: {result}")
num2 = int(input("Enter num2:"))
result = check_divisibility(num2)
if result:
  print(f"{num2} is divisible by both 3 and 5: {result}")
else:
    print(f"{num2} is not divisible by both 3 and 5: {result}")

Enter num1:15
15 is divisible by both 3 and 5: True
Enter num2:77
77 is not divisible by both 3 and 5: False

In [6]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
def multiply_by_two(input_list):
    return list(map(lambda x: x * 7, input_list))
input_list = [9, 8, 7, 6, 5, 4, 3, 2, 1]
result = multiply_by_two(input_list)
print(f"Numbers multiplied by 7: {result}")

Numbers multiplied by 7: [63, 56, 49, 42, 35, 28, 21, 14, 7]

In [8]:
# Write a Python program to remove all occurrences of a specific element from a list.
def remove_occurrences(input_list, element):
    return [item for item in input_list if item != element]
input_list = [18, 15, 17, 15, 19, 15, 16, 20, 22, 24]
element_to_remove = 15
result = remove_occurrences(input_list, element_to_remove)
print(f"List after removing all occurrences of {element_to_remove}: {result}")

List after removing all occurrences of 15: [18, 17, 19, 16, 20, 22, 24]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`